 
<div class="container content">
    <div class="row">
         <div	class="col-md-6	offset-md-3">
             <span	class="anchor"	id="formLogin"></span>
             <!-- form	card	login	with	validation	feedback	-->
             <div class="card card-outline-secondary">
                  <div	class="card-header">
                        <h3	class="mb-0">Whishlist</h3>
                  </div>
                    <div class="card-body">
                        <app-form-destino-digital (onItemAdded)="agregado($event)"></app-form-destino-digital>
                          
                    </div>
                </div>
         </div>
    </div>
    <hr	class="mb-5">
    <div class="row row-flex">
         <app-destino-digital
         *ngFor="let d of destinosApiClient.getAll(); let i=index"
         [digital]="d"
         [idx]="i"
         (clicked)="elegido(d)"
         ></app-destino-digital>
    </div>

    <hr class="mb-5">
    <div class="row row-flex">
        <h5>actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
</div>