
<div class="card-content">
    <div class="card-img">
        <img	src="https://placeimg.com/380/230/nature"	alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{digital.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of digital.servicios">
                <span [ngSwitch]= "s">
                        <i *ngSwitchCase="'Valoracion gratuita'" style="color:red;">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>

                </span>
            </li>
        </ul>
            <a	href="#" class="btn-card" (click)="ir()">Ir!</a>
            	<span *ngIf="digital.isSelected()">
                    <span ngNonBindable>{{PREFERIDO}}</span>
                </span>	
                <a [routerLink]="['/digital', digital.id]">Ver!</a>
            </div>
</div>
